*{
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0px;
}

h1, h2, h3{
  padding: 10px;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }

div{
  display: block;
}

header{
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
}

.flexheader{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header img{
  height: 50px;
  padding-left: 10px;
}

nav{
  text-align: right;
}

nav a{
  padding: 0px 10px;
  display: inline-block;
}

#main-container{
  padding-top: 69px;
  margin: 0px auto;
  width: 1200px;
}

#mission{
  background-image: url(./images/img-mission-background.jpg);
  height: 700px;
  display: flex;
}

#title{
  margin: auto;
  width: 100%;
}

#featured-container{
  width: 1000px;
  margin: 50px auto;
}

#featured-blocks{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1000px;
}

.block{
  width: 300px;
  margin: 20px 0px;
}

.block h4{
  padding-top:10px;
}

#location-container{
  height: 500px;
  padding: 75px 0px;
  background-image: url(./images/img-locations-background.jpg);
}

#location-container h2, #location-container #location-blocks{
    background-color: transparent;
}

#location-blocks{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px 0px;
  opacity: 1;
}

.location-block{
  width: 300px;
  margin: 0px 40px;
}

.location-block p{
  margin: 25px 0px;
}

.location-block h3{
  margin:25px 0px;
}

#address{
  height:200px;
}

#address h5{
  margin: 35px 0px;
}

footer h5{
  text-align: left;
  padding-left:20px;
}
